:root{
    --greenColor: hsl(75, 94%, 57%);
    --whiteColor: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem; /*14px*/
    color: var(--whiteColor);
    background-color: var(--grey900);
}

.card{
    background-color: var(--grey800);
    min-width: 18.75rem; /*300px*/
    border-radius: 10px;
    @media all and (min-width: 800px){
        min-width: 350px;
    }
}

.card-elements{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-elements img{
    border-radius: 50%;
    width: 3.75rem; /*60px*/
    height: 3.75rem; /*60px*/
    margin-bottom: 20px;
    @media all and (min-width: 800px){
        width: 80px;
        height: 80px;
    }
}

.card-heading p{
    text-align: center;
}

.card-heading p:first-child{
    font-weight: 700;
    font-size: 1.125rem; /*18px*/
    @media all and (min-width: 800px){
        font-size: 20px;
    }
}

.card-heading p:nth-child(2){
    padding-top: 5px;
    color: var(--greenColor);
    font-size: 0.688rem; /*11px*/
    @media all and (min-width: 800px){
        font-size: 12px;
    }
}

.card-heading p:nth-child(3){
    padding: 12px;
    font-size: 0.688rem; /*11px*/
    @media all and (min-width: 800px){
        font-size: 12px;
    }
}

.card-lists li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey700);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 15.625rem; /*250px*/
    height: 2.5rem; /*40px*/
    @media all and (min-width: 800px){
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}