:root{
    --greenColor: hsl(75, 94%, 57%);
    --whiteColor: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--whiteColor);
    background-color: var(--grey900);
}

.card{
    background-color: var(--grey700);
    width: 300px;
    border-radius: 10px;
}

.card-elements{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-elements img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card-heading p{
    text-align: center;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
